
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Padauk&display=swap');
body {
    font-family: 'Padauk', sans-serif;
    background-color: rgb(168, 167, 167, 0.2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
/*----------Hero image : Code inspired by CSS module "Love Running" of Code Institute */

#hero-image {
    position: relative;
    height: 400px;
    width: 100%;
    background: url("../img/hero.jpg") no-repeat center center;
    background-size: cover;
}

.container-fluid {
    padding: 0;
}

/*--- End of code inspired by CSS module "Love Running" of Code Institute */

.active {
    border: 1px solid darkslategray;
    border-radius: 10%;
}

.nav-link {
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
    margin-left:10px;
    margin-right:10px;
}

.navbar {
    background-color: rgb(212, 230, 241 );  
    padding-top:20px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 700px) {
.navbar-brand h1 {
    font-size: 40px;
    color: darkslategray;
    letter-spacing : 10px;
    font-family: 'Montserrat';
}
}

@media only screen and (max-width: 700px) {
.navbar-brand h1 {
    font-size: 20px;
    color: darkslategray;
}
};