
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Padauk&display=swap');
body {
    font-family: 'Padauk', sans-serif;
    background-color: rgb(168, 167, 167, 0.2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: x-large;
}
/*----------Hero image : Code inspired by CSS module "Love Running" of Code Institute */

#hero-image img {
    height:450px;
    width:100%;
    background-size: cover;
    margin-top:80px;
}

@media only screen and (max-width: 500px) {
#hero-image img {
    height:300px;
    max-width:500px;
}}

@media only screen and (min-width: 1050px) {
#hero-image img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

#hero-image img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
}

.container-fluid {
    padding: 0;
}

/*--- End of code inspired by CSS module "Love Running" of Code Institute */

.nav-link {
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(212, 230, 241);
    margin-left:10px;
}

.nav-link:hover {
    font-weight : 800;
    border-bottom: 1px solid darkslategray;
    color: darkslategray;
    border-radius: 10%;
}

.navbar {
background-color: rgb(212, 230, 241);
padding-top:20px;
padding-bottom:20px;
position: fixed;
top: 0;
z-index: 9999;
width: 100%;
}

#why {
    padding-top:60px;
}

#what {
    padding-top:60px;
}

#testimonies {
    padding-top:60px;
}

#contact {
    padding-top:110px;
}

@media only screen and (min-width: 700px) {
.navbar-brand h1 {
    font-size: 30px;
    color: darkslategray;
    letter-spacing : 10px;
    font-family: 'Montserrat';
}
}

@media only screen and (max-width: 700px) {
.navbar-brand h1 {
    font-size: 23px;
    color: darkslategray;
    letter-spacing : 5px;
}
};

/*----- Footer-----*/

.page-content {
    margin-bottom: 80px;
}

#footer-section {
    background-color:rgb(212, 230, 241);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.footer-list {
    list-style-type: none;
    text-align: center;
}

.footer-list li {
    display: inline;
}

.footer-list a {
    text-decoration: none;
}

.footer-list li a i {
    width: 32px;
    height: 32px;
    padding: 12px 25px;
    padding-top: 10px;
    color: darkslategray;
    font-size: 20px;
    border-radius: 50%;
}

/*----Why Bolivia section ---*/

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bg-color-why {
    background: url("../img/why-img.jpg") center center;
    height:250px;
    padding-top: 5%;
    padding-bottom:5%;
    padding-left: 10%;
    padding-right:10%; 
    margin-left: auto;
    margin-right: auto;
    margin-top:15%;
    margin-bottom:20px;
    border-radius:5%;
}

@media only screen and (min-width: 1050px) {
.bg-color-why {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.bg-color-why:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

}

@media only screen and (max-width: 1050px) {
.bg-color-why {
	-webkit-filter: grayscale(50%);
	filter: grayscale(50%);
    height:200px;
}
}


.bg-color-description-why{
    padding:20px;
}

.text-why {
    border-top:2px solid darkslategray; 
    border-bottom:2px solid darkslategray; 
    padding:20px;
    border-radius : 5%;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
}

/** Testimony section **/

.testimony-title {
    border-radius : 10%;
    background-color:rgb(212, 230, 241 );
}

.testimony-title h2 {
    text-align: center;
    margin-top: 50px;
}

.testimony-section img {
    width : 250px;
    height: 200px;
    border-radius: 10%;
    display: block;
    margin: auto;
    padding: 10px;
	-webkit-transform: scale();
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.testimony-section img:hover {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.testimony-section {
    margin-top: 10%;
    margin-bottom: 10%;
}

.testimony-text {
    text-align : center;
    margin-left: auto;
    margin-right: auto;
    width: 18em
}

/**----Form Section----**/

.form-img {
    border-radius:5%;
    height:80%;
}

.form-title {
    text-align:center;
    border-radius : 10%;
    background-color:rgb(212, 230, 241 );
}

#form-section {
    margin-left: auto;
    margin-right: auto;
    border-radius:5%;
    border: 3px solid rgb(212, 230, 241 ); 
    background-color: rgb(212, 230, 241, 0.1 ); 
    padding:20px;
    margin-top:10%;
}

.form-position {
    margin-left: auto;
    margin-right: auto;}

.btn-bg {
    background-color: rgb(212, 230, 241 ); 
    border-radius:10%;
    max-width:30%;
    margin-left:0;
    margin-right:0;
}

.btn-bg:hover {
    background-color: rgb(127, 179, 213);
    color:white;
}

.btn-position {
    margin-top:5%;
    text-align:center;
}

/**---What to do section ----*/

#map {
    min-height: 300px;
    min-width: 90%;
    margin-top:5%;
    margin-bottom:5%;
}


.btn-bg-activity {
    color:white;
    margin-left:2%;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size:16px;
    font-weight:900;
    border-radius:5%;
}

.btn-party {
    padding:30px 70px;
    border:3px solid darkslategray;
    background: url("../img/party.jpg") center center;
}

.btn-party:hover {
    color:white;
}

@media only screen and (min-width: 1050px) {
.btn-party {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.btn-party:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.btn-adventure {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.btn-adventure:hover {
    color:white;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.btn-food {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    }

.btn-food:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
}

.btn-adventure {
    padding:30px 47px;
    border:3px solid darkslategray;
    background: url("../img/adventure.jpg") center center;
}

.btn-adventure:hover {
    color:white;
}

.btn-food {
    padding:30px 73px;
    border:3px solid darkslategray;
    background: url("../img/food.jpg") center center;
}

.btn-food:hover {
    color:white;
}

.whattodo-details {
    border-radius:5%;
    border-left:2px solid black;
    border-right:2px solid black;
    margin-top:5%;
}


.whattodo-details p {
    text-align:center;
}

.whattodo-details h3 {
    text-align:center;
    font-weight:900;
    font-size:25px;
    padding:5px;
}
.whattodo-title {
    text-align:center;
    margin-top:5%;
    border-radius : 10%;
    background-color:rgb(212, 230, 241 );
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
}

.btn-bg {
    margin: 2%;
}


@media only screen and (min-width: 1050px) {
.btn-activity-position {
    margin-left:5%;
}
}

@media only screen and (max-width: 700px) {

.btn-activity-position {
    margin-left:23%;
    margin-top:5%;
    margin-bottom:5%;
}


.btn-sm-center {
    margin-top: 5px;
    margin-bottom:5px;
}

.btn-bg {
    margin-left:3px;
    margin-right:3px;
    margin-top:5%;
    margin-bottom:5%;}

};

@media only screen and (max-width: 1000px) {
.whattodo-type h2 {
    font-size:0.75em;
}
};
